<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mapper.UserFollowMapper">
    <sql id="columns">
        select id, user_id, house_id, create_time, update_time, is_deleted
    </sql>

    <select id="findPageList" resultType="com.atguigu.vo.UserFollowVo">
        select uf.id,uf.house_id houseId,uf.create_time createTime,hc.name communityName, hh.name,hh.build_area,hh.total_price,hh.default_image_url,
               hh.house_type_id,hh.floor_id,hh.direction_id
        from user_follow uf left join hse_house hh on uf.house_id = hh.id
                            left join hse_community hc on hc.id = hh.community_id

        where uf.user_id = #{id} and
              uf.is_deleted = 0 and
              hc.is_deleted = 0 and
              hh.is_deleted = 0 and
              hh.status = 1
        order by uf.id desc
    </select>
    <insert id="insert" >
        insert into user_follow(user_id,house_id)
        values (#{userId},#{houseId})
    </insert>
    <select id="isFollow" resultType="integer">
        select count(id)
            from user_follow
        where user_id = #{userId} and
                house_id = #{houseId} and
              is_deleted = 0
    </select>

    <update id="delete">
        update user_follow set
        is_deleted = 1
        where id = #{id}
    </update>

</mapper>